/.htaccess
/.htaccess_server

*.DS_Store
**/.DS_Store

assets/**
!assets/.gitignore
backup/**
!backup/.gitignore
cache/**
!cache/.gitignore
images/**
!images/.gitignore
logs/**
!logs/.gitignore
tmp/**
!tmp/.gitignore
