{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="mt-150 mb-400">
	<div class="container">
		<div class="row  align-items-center">
			<div class="col-md-12 text-center padding_top_xxxs padding_bottom_xxxs">
				<h1 style="font-size: 50px;letter-spacing: -3px;" class="fontstyle_3 color_8">{{ 'ERROR'|t }} {{ page.header.http_response_code }}</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row  align-items-center">
			<div class="col-md-6 offset-3 text-center padding_top_s padding_bottom_xxxs">
				<p class="text-center">{{ page.content }}</p>
			</div>
			<div class="col-lg-12 text-center margin_top_xxxxs">
				<a href="{{ url('home') }}" class="btn btn-lg color-1 bgcolor-3 hovercolor-1 hoverbgcolor-2">Home</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}