/****************
iPhone landscape and portrait  mode
*****************/
@media only screen and (min-width: 320px) and (max-width: 767px){

}


/****************
iPhone portrait mode
*****************/
@media only screen and (max-width: 479px){

	h1,.h1 {
		font-size: $h1-font-size-iphone-portrait;
	}
	
	h2,.h2 {
		font-size: $h2-font-size-iphone-portrait;
	}
	
	h3,.h3 {
		font-size: $h3-font-size-iphone-portrait;
	}
	
	h4,.h4 {
		font-size: $h4-font-size-iphone-portrait;
	}
	
	h5,.h5 {
		font-size: $h5-font-size-iphone-portrait;
	}
	
	h6,.h6 {
		font-size: $h6-font-size-iphone-portrait;
	}

	.h7 {
		font-size: $h7-font-size-iphone-portrait;
	}

}


/****************
iPhone landscape mode
*****************/
@media only screen and (min-width: 480px) and (max-width: 767px) {

	h1,.h1 {
		font-size: $h1-font-size-iphone-landscape;
	}
	
	h2,.h2 {
		font-size: $h2-font-size-iphone-landscape;
	}
	
	h3,.h3 {
		font-size: $h3-font-size-iphone-landscape;
	}
	
	h4,.h4 {
		font-size: $h4-font-size-iphone-landscape;
	}
	
	h5,.h5 {
		font-size: $h5-font-size-iphone-landscape;
	}
	
	h6,.h6 {
		font-size: $h6-font-size-iphone-landscape;
	}

	.h7 {
		font-size: $h7-font-size-iphone-landscape;
	}

}


/****************
all Desktop & iPad modes
*****************/
@media only screen and (min-width: 768px) {

}


/****************
iPad portrait mode
*****************/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	h1,.h1 {
		font-size: $h1-font-size-ipad-portrait;
	}
	
	h2,.h2 {
		font-size: $h2-font-size-ipad-portrait;
	}
	
	h3,.h3 {
		font-size: $h3-font-size-ipad-portrait;
	}
	
	h4,.h4 {
		font-size: $h4-font-size-ipad-portrait;
	}
	
	h5,.h5 {
		font-size: $h5-font-size-ipad-portrait;
	}
	
	h6,.h6 {
		font-size: $h6-font-size-ipad-portrait;
	}

	.h7 {
		font-size: $h7-font-size-ipad-portrait;
	}
}


/****************
iPad landscape mode
*****************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	h1,.h1 {
		font-size: $h1-font-size-ipad-landscape;
	}
	
	h2,.h2 {
		font-size: $h2-font-size-ipad-landscape;
	}
	
	h3,.h3 {
		font-size: $h3-font-size-ipad-landscape;
	}
	
	h4,.h4 {
		font-size: $h4-font-size-ipad-landscape;
	}
	
	h5,.h5 {
		font-size: $h5-font-size-ipad-landscape;
	}
	
	h6,.h6 {
		font-size: $h6-font-size-ipad-landscape;
	}

	.h7 {
		font-size: $h7-font-size-ipad-landscape;
	}
}


/****************
iPhone landscape and portrait  mode
*****************/
@media (min-width: 576px) {
	
}

/****************
iPad portrait mode
*****************/
@media (min-width: 768px) { 

}

/****************
iPad landscape mode
*****************/
@media (min-width: 992px) {

}

/****************
Desktop Normal mode
*****************/
@media (min-width: 1200px) {

}