
@mixin my_spaces($key, $value, $breakingpoint:'') {
	
	$bp: '';
	@if $breakingpoint != '' {
		$bp: '-#{$breakingpoint}';
	}

	.p#{$bp}-#{$key}   {padding: $value !important;}
	.pt#{$bp}-#{$key}  {padding-top: $value !important;}
	.pe#{$bp}-#{$key}  {padding-right: $value !important;}
	.pb#{$bp}-#{$key}  {padding-bottom: $value !important;}
	.ps#{$bp}-#{$key}  {padding-left: $value !important;}
	.px#{$bp}-#{$key}  {padding-right: $value !important;padding-left: $value !important;}
	.py#{$bp}-#{$key}  {padding-top: $value !important;padding-bottom: $value !important;}

	.m#{$bp}-#{$key}   {margin: $value !important;}
	.mt#{$bp}-#{$key}  {margin-top: $value !important;}
	.me#{$bp}-#{$key}  {margin-right: $value !important;}
	.mb#{$bp}-#{$key}  {margin-bottom: $value !important;}
	.ms#{$bp}-#{$key}  {margin-left: $value !important;}
	.mx#{$bp}-#{$key}  {margin-right: $value !important;margin-left: $value !important;}
	.my#{$bp}-#{$key}  {margin-top: $value !important;margin-bottom: $value !important;}
}

@each $space in $spacers {
	$key: nth($space, 1);
	$value: nth($space, 2);

	@include my_spaces($key, $value, '');
}
	
@include breakpoint(sm) {
	@each $space in $spacers {
		$key: nth($space, 1);
		$value: nth($space, 2);
		@include my_spaces($key, $value, 'sm');
	}
}

@include breakpoint(md) {
	@each $space in $spacers {
		$key: nth($space, 1);
		$value: nth($space, 2);
		@include my_spaces($key, $value, 'md');
	}
}

@include breakpoint(lg) {
	@each $space in $spacers {
		$key: nth($space, 1);
		$value: nth($space, 2);
		@include my_spaces($key, $value, 'lg');
	}
}

@include breakpoint(xl) {
	@each $space in $spacers {
		$key: nth($space, 1);
		$value: nth($space, 2);
		@include my_spaces($key, $value, 'xl');
	}
}

@include breakpoint(xxl) {
	@each $space in $spacers {
		$key: nth($space, 1);
		$value: nth($space, 2);
		@include my_spaces($key, $value, 'xxl');
	}
}