{% set crumbs = breadcrumbs.get() %}
{% set breadcrumbs_config = config.plugins.breadcrumbs %}
{% set divider = breadcrumbs_config.icon_divider_classes %}

{% if crumbs|length > 1 or breadcrumbs_config.show_all %}
<nav class="d-inline" style="margin-bottom:1px" aria-label="breadcrumb" id="topbreadcrumbs" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <ol class="breadcrumb m-0 p-0 justify-content-center justify-content-md-center bg-transparent px-10 py-5">
    {% for crumb in crumbs %}
        <li class="breadcrumb-item"><a  class="small color_8 hovercolor_4" href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ crumb.menu }}</span></a></li>
        {# {% if not loop.last %}<li><i style="font-size:25px;line-height: 0;vertical-align: -5px; margin:0 5px;" class="fal fa-angle-right color_12"></i></li>{% endif %} #}
        {% if not loop.last %}<li><img class="mx-10" width="6px" src="{{ url('theme://files/img/breadcrumbs_angle.svg') }}" /></li>{% endif %}
    {% endfor %}
    </ol>
</nav>
{% endif %}
