/****************
Base styles
*****************/

*{-webkit-user-select: text!important;}
html { -webkit-text-size-adjust: 100%; }

body
{
	/* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    
    font-family: '', sans-serif;
    font-size: 14px;
    color:#575757;
}

::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}

/* Remove the gap between elemets*/
audio,canvas,img,video {vertical-align: middle;}





/****************
Base Colors
*****************/
.color_default,
.hovercolor_default:hover   {color:#000}
.bgcolor_default,
.hoverbgcolor_default:hover{background-color: #000}
.bordercolor_default,
.hoverbgbordercolor_default:hover{border-color:#000 !important;}

.color_1,
.hovercolor_1:hover     {color: #FFF}
.bgcolor_1,
.hoverbgcolor_1:hover   {background-color: #FFF}
.bordercolor_1,
.hoverbgbordercolor_1:hover{border-color:#FFF !important;}

/*
.color_2,
.hovercolor_2:hover    {color: #}
.bgcolor_2,
.hoverbgcolor_2:hover  {background-color: #}
.bordercolor_2,
.hoverbgbordercolor_2:hover{border-color:# !important;}

.color_3,
.hovercolor_3:hover     {color: #}
.bgcolor_3,
.hoverbgcolor_3:hover   {background-color: #}
.bordercolor_3,
.hoverbgbordercolor_3:hover{border-color:# !important;}

.color_4,
.hovercolor_4:hover    {color: #}
.bgcolor_4,
.hoverbgcolor_4:hover  {background-color: #}
.bordercolor_4,
.hoverbgbordercolor_4:hover{border-color:# !important;}

.color_5,
.hovercolor_5:hover     {color: #}
.bgcolor_5,
.hoverbgcolor_5:hover   {background-color: #}
.bordercolor_5,
.hoverbgbordercolor_5:hover{border-color:# !important;}

.color_6,
.hovercolor_6:hover     {color: #}
.bgcolor_6,
.hoverbgcolor_6:hover   {background-color: #}
.bordercolor_6,
.hoverbgbordercolor_6:hover{border-color:# !important;}

.color_seventh,
.hovercolor_7:hover     {color: #}
.bgcolor_7,
.hoverbgcolor_7:hover   {background-color: #}
.bordercolor_7,
.hoverbgbordercolor_7:hover{border-color:# !important;}

.color_8,
.hovercolor_8:hover     {color: #}
.bgcolor_8,
.hoverbgcolor_8:hover   {background-color: #}
.bordercolor_8,
.hoverbgbordercolor_8:hover{border-color:# !important;}

.hovercolor_9:hover     {color: #}
.bgcolor_9,
.hoverbgcolor_9:hover   {background-color: #}
.bordercolor_9,
.hoverbgbordercolor_9:hover{border-color:# !important;}
*/



/****************
Base padding & Margin
*****************/
.margin_top_xl          {margin-top: 80px;}
.margin_bottom_xl       {margin-bottom: 80px;}
.margin_XL              {margin-top: 80px;margin-bottom: 80px;}

.padding_top_xl         {padding-top: 80px;}
.padding_bottom_xl      {padding-bottom: 80px;}
.padding_xl             {padding-top: 80px;padding-bottom: 80px;}


.margin_top_l           {margin-top: 60px;}
.margin_bottom_l        {margin-bottom: 60px;}
.margin_l               {margin-top: 60px;margin-bottom: 60px;}

.padding_top_l          {padding-top: 60px;}
.padding_bottom_l       {padding-bottom: 60px;}
.padding_l              {padding-top: 60px;padding-bottom: 60px;}


.margin_top_m           {margin-top: 40px;}
.margin_bottom_m        {margin-bottom: 40px;}
.margin_m               {margin-top: 40px;margin-bottom: 40px;}

.padding_top_m          {padding-top: 40px;}
.padding_bottom_m       {padding-bottom: 40px;}
.padding_m              {padding-top: 40px;padding-bottom: 40px;}


.margin_top_s           {margin-top: 20px;}
.margin_bottom_s        {margin-bottom: 20px;}
.margin_s               {margin-top: 20px;margin-bottom: 20px;}

.padding_top_s          {padding-top: 20px;}
.padding_bottom_s       {padding-bottom: 20px;}
.padding_s              {padding-top: 20px;padding-bottom: 20px;}


.margin_top_xs           {margin-top: 10px;}
.margin_bottom_xs        {margin-bottom: 10px;}
.margin_xs               {margin-top: 10px;margin-bottom: 10px;}

.padding_top_xs          {padding-top: 10px;}
.padding_bottom_xs       {padding-bottom: 10px;}
.padding_xs              {padding-top: 10px;padding-bottom: 10px;}




/****************
custom styles
*****************/














/****************
Print styles
*****************/

@media print {
    * {background: transparent !important;color: #000 !important;box-shadow: none !important;text-shadow: none !important;}
    a,a:visited {text-decoration: underline;}
    a[href]:after {content: " (" attr(href) ")";}
    abbr[title]:after {content: " (" attr(title) ")";}

    /* Don't show links for images, or javascript/internal links */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {content: "";}
    
    pre,blockquote {border: 1px solid #999;page-break-inside: avoid;}
    thead {display: table-header-group;}
    tr,img {page-break-inside: avoid;}
    img {max-width: 100% !important;}
    @page {margin: 0.5cm;}
    p,h2,h3 {orphans: 3;widows: 3;}
    h2,h3 {page-break-after: avoid;}
}