/*---------------------------------
 [Colors]
-----------------------------------*/
$colors-list: 
	#000		// 1 - body Color
	#FFF		// 2 - body Background Color
	#39B164		// 3 - link Color
	#99B139 	// 4 - link hover color
	#B18339		// 5 - 
	#B13939		// 6 - 
	#B1399E		// 7 - 
	#8839B1		// 8 - 
	#4839B1		// 9 - 
	#3996B1		// 10 - 
	#39B194		// 11 - 
	#39B163		// 12 - 
	#99B138		// 13 - 
	#B18338		// 14 - 
;

$a-color:					nth($colors-list, 3);
$a-hover-color: 			nth($colors-list, 4);

$body-color:				nth($colors-list, 1);
$body-backgound_color:		nth($colors-list, 2);
$selection-color: 			nth($colors-list, 3);
$selection-backgound-color:	rgba(
	red(nth($colors-list, 1)),
	green(nth($colors-list, 1)),
	blue(nth($colors-list, 1)),
	0.5
);


/*---------------------------------
 [Spacing]
-----------------------------------*/
$spacers: (
	05 5px,
	10 10px,
	15 15px,
	20 20px,
	30 30px,
	40 40px,
	50 50px,
	60 60px,
	70 70px,
	80 80px,
	90 90px,
	100 100px,
	110 110px,
	120 120px,
	130 130px,
	140 140px,
	150 150px,
	200 200px,
	250 250px,
	300 300px,
	350 350px,
	400 400px,
	450 450px,
	500 500px,
) !default;


$text-columns: (
	0 0 0,
	2 2 30,
	3 3 30,
	4 4 30,
	5 5 30,
) !default;


/*---------------------------------
 [Typography]
-----------------------------------*/
$fontstyle-1: 'Roboto', sans-serif;
$fontstyle-2: "Quicksand", sans-serif;
$fontstyle-3: "Raleway", sans-serif;


$body_font:			 		$fontstyle-1;
$body_font_size:			16px;
$body_font_weight:			normal;

// font-size-{bp}-{size}
$fontsizes: (
	xs: 80%,
	s: 90%,
	m: $body_font_size,
	l: 110%,
	xl: 120%
) !default;

// line-height-{bp}-{size}
$line-heighters: (
	0: 0,
	1: 1,
	xxxs: 0.5,
	xxs: 0.9,
	xs: 1.2,
	s: 1.4,
	m: 1.6,
	l: 1.7,
	xl: 1.8,
	xxl: 2,
) !default;

$p-line-height:				map-get($line-heighters, m);

$h1-font-size-desktop:		2.8em;
$h2-font-size-desktop:		2.4em;
$h3-font-size-desktop: 		2.0em;
$h4-font-size-desktop: 		1.8em;
$h5-font-size-desktop: 		1.6em;
$h6-font-size-desktop: 		1.4em;
$h7-font-size-desktop: 		1.2em;

$h1-font-size-ipad-landscape:		2.6em;
$h2-font-size-ipad-landscape:		2.2em;
$h3-font-size-ipad-landscape: 		1.9em;
$h4-font-size-ipad-landscape: 		1.7em;
$h5-font-size-ipad-landscape: 		1.5em;
$h6-font-size-ipad-landscape: 		1.3em;
$h7-font-size-ipad-landscape: 		1.1em;

$h1-font-size-ipad-portrait:		2.4em;
$h2-font-size-ipad-portrait:		2.1em;
$h3-font-size-ipad-portrait: 		1.8em;
$h4-font-size-ipad-portrait: 		1.6em;
$h5-font-size-ipad-portrait: 		1.4em;
$h6-font-size-ipad-portrait: 		1.2em;
$h7-font-size-ipad-portrait: 		1.1em;

$h1-font-size-iphone-landscape:		2.2em;
$h2-font-size-iphone-landscape:		1.9em;
$h3-font-size-iphone-landscape: 	1.6em;
$h4-font-size-iphone-landscape: 	1.4em;
$h5-font-size-iphone-landscape: 	1.2em;
$h6-font-size-iphone-landscape: 	1.1em;
$h7-font-size-iphone-landscape: 	1.0em;

$h1-font-size-iphone-portrait:		2.0em;
$h2-font-size-iphone-portrait:		1.8em;
$h3-font-size-iphone-portrait: 		1.5em;
$h4-font-size-iphone-portrait: 		1.3em;
$h5-font-size-iphone-portrait: 		1.1em;
$h6-font-size-iphone-portrait: 		1.0em;
$h7-font-size-iphone-portrait: 		0.9em;



@mixin border-radius ($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@mixin box-shadow ($string) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}


$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

@mixin breakpoint($bp, $rule: min-width) {
	@media (#{$rule}: map-get($breakpoints, $bp)) {
        @content;
    }
}